html,
body {
  height: 100%;
  width: 100%;
}

/*Grid de todo la pagina*/
.todo {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

/*Columna de la lista de procesos*/
.listaProcesos {
  min-width: 220px;
  grid-column: 1;
  grid-row: 1 / 5;
}

.crearProceso{
  grid-column: 1;
  grid-row: inherit;
}

.formProceso{
  display: grid;
  grid-template-columns: repeat(2,auto);
}

/*Lista de los check y el nombre de los procesos*/
.procesosCheck {
  align-items: center;
  display: grid;
  grid-template-columns: 70px auto;
  grid-auto-rows: minmax(30px, auto);
  gap: 0px 5px;
}

.botones {
  grid-column: 1 / 3;
}

/*Titulos*/
.tituloTabla {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  text-align: center;
}

/*Contenedor de titulo y tabla de procesos*/
.tablaProcesos {
  grid-column: 2 / 4;
  grid-row: 3 / auto;
}

.modoAjuste{
  grid-column: 3;
  grid-row: 2;
  height: 70px;
}

/*Contenedor de titulo y tabla de particion*/
.tablaSegmentosLibres {
  grid-column: 3;
  grid-row: 1;
}

.tablaDescriptorSegmentos{
  grid-column: 2 / 4;
  grid-row: 4;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 8px;
}

/*Contenedor de titulo y tabla del sistema operativo*/
.SistemaO {
  grid-column: 2;
  grid-row: auto;
}

/*Tabla del Sistema Operativo*/
table.tablaSO {
  border: 2px solid #000000;
  width: 100%;
  text-align: center;
}

/*Borde de fila y columna de la tabla del Sistema Operativo*/
table.tablaSO td,
table.tablaSO th {
  border: 1px solid #000000;
  padding: 3px 3px;
}

/*Texto de la tabla del Sistema Operativo*/
table.tablaSO tbody td {
  font-size: 13px;
}

/*Fondo de la talba del Sistema Operativo*/
table.tablaSO tr:nth-child(even) {
  background: #D0E4F5;
}

/*Encabezados de la table del Sistema Operativo*/
table.tablaSO thead {
  background: #FFFFFF;
  border: solid;
  border-bottom: 4px solid #ec0404;
}

/*Texto de datos de la table del Sistema Operativo*/
table.tablaSO thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
}

/*Texto de datos de la table del Sistema Operativo*/
table.tablaSO tfoot td {
  font-size: 14px;
}

/*Tabla de Memoria usada*/
.seccionMemoria{
  grid-column: 2;
  grid-row: auto;
}

/*Contenedor de el titulo y el dibujo de la ram*/
.ram {
  min-width: 250px;
  grid-column: 4;
  grid-row: 1 / 6;
  margin-right: 15px;
}

/*Dibujo de las particiones d ela RAM*/
.ramDibujo {
  min-height: 4000px;
  max-height: 4000px;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
}

/*Particion del dibujo de la RAM*/
.particiones {
  display: grid;
  border: solid;
  border-color: #333333;
  grid-template-columns: 65px auto;
}

/*Contenedor de la posicion HEX de la Particion*/
.posicionRam {
  height: 100%;
  background-color: rgba(251, 67, 0, 0.278);
  display: grid;
  grid-template-rows: auto auto auto;
  align-items: center;
  text-align: center;
}

/*Numero hex*/
.hexRam {
  height: 100%;
  font-size: 75%;
  text-align: right;
}

/*Contenedor para dibujar el proceso*/
.contenedorProceso{
  position: relative;
}

/*Seccion de ocupacion del proceso en la particion*/
.procesoRam {
  height: 100%;
  background-color: rgb(0, 198, 224);
  position: relative;
}

/*Nombre del proceso*/
.procesoNombreParticion{
  position: absolute;
  font-size: larger;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.contenedor_elemento {
  display: grid;
  width: 100%;
  height: 100%;
}

.elemento {
  background-color: blueviolet;
  border: solid;
  border-color: chartreuse;
}

/* ESTILOS PARA EL CHECKBOX */

input[type=checkbox] {
  visibility: hidden;
}

.checkbox-JASoft {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 30px;
  background: #555;
  border-radius: 15px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.6), 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.checkbox-JASoft label {
  /* aspecto */
  display: block;
  width: 34px;
  height: 20px;
  border-radius: 17px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
  background: #fcfff4;
  background: linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  cursor: pointer;

  /* Posicionamiento */
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;

  /* Comportamiento */
  transition: all .4s ease;

  /* ocultar el posible texto que tenga */
  overflow: hidden;
  text-indent: 35px;
  transition: text-indent 0s;
}

/* estado activado */
.checkbox-JASoft input[type=checkbox]:checked+label {
  left: auto;
  right: 5px;
}

.checkbox-JASoft:after {
  content: 'NO';
  font: 12px/30px Arial, sans-serif;
  color: #AAA;
  position: absolute;
  right: 10px;
  z-index: 0;
  font-weight: bold;
}

.checkbox-JASoft:before {
  content: 'SÍ';
  font: 12px/30px Arial, sans-serif;
  color: lime;
  position: absolute;
  left: 10px;
  z-index: 0;
  font-weight: bold;
}

/*CSS PARA EL NAV*/

.wrapper{
  z-index: 2;
  position: fixed;
  top: 0;
  /*left: -100%;*/
  right: -100%;
  height: 100%;
  width: 100%;
  background: #000;
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  transition: all 0.6s ease-in-out;
}
#active:checked ~ .wrapper{
  /*left: 0;*/
  right:0;
}
.menu-btn{
  position: absolute;
  z-index: 3;
  right: 20px;
  /*left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  /*color: #fff;*/
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 2px solid #000;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before{
  transform: translateY(-8px);
}
.menu-btn:after{
  transform: translateY(8px);
}


.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}

/* closing animation */
#active:checked + .menu-btn span {
	transform: scaleX(0);
}
#active:checked + .menu-btn:before {
	transform: rotate(45deg);
  border-color: #fff;
}
#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
  border-color: #fff;
}
.wrapper ul{
  position: absolute;
  top: 60%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  height: 10%;
  margin: 15px 0;
}
.wrapper ul li a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  position: relative;
  line-height: 50px;
  margin: 5px 30px;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
   /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #1a73e8;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

#active:checked ~ .wrapper ul li a{
  opacity: 1;
}
.wrapper ul li a{
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a{
	transform: none;
	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
   transition-delay: .6s;
  transform: translateX(-100px);
}


